<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MakersBnB - Register</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>

<div class="banner_light">

  <nav class="navbar navbar-dark bg-transparent">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar">Sign up</span>
        <span class="icon-bar">Login</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fab fa-airbnb"></i> MakersBnB</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if @user %>
           <li><a href="/register">Sign up</a></li>
           <li><a href="/login">Login</a></li>
           <li><a href="/list_new_room">List a space</a></li>
        <% else %>
          <li>
            <form action="/sessions" method="post">
              <input type="hidden" name="_method" value="Delete">
              <a><input class="sign_out" type="submit" value="Sign Out" style="background-color: transparent; margin-top: 7px;"></a>
            </form>
          </li>
          <li><a href="/my_bookings" method="get" type="submit" value="My bookings">My Bookings</a></li>
        <% end %>
      </ul>
            <ul class="nav navbar-nav navbar-right">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="search_button" type="submit">Search</button>
    </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> 

<% flash.keys.each do |type| %>
<div data-alert class="flash <%= type %> alert-box radius">
<%= flash[type] %>
</div>
</div>
<% end %>

<h1><span>MakersBnB.</span> View you bookings.</h1>

</div>
<div class="listing_form_container text-center">
<div class="card text-center login" style="width: 40%; height: auto">
<br>
<% if @bookings %>
  <% @bookings.each do |booking| %>
  <h1><%= Listing.find(id: booking.listing_id).name %></h1>
  <p>Requested by: <%= booking.guest_email %></p>
  <p>Dates: <%= booking.dates_from %>-<%= booking.dates_to %></p>
  <p>Booking Status: <%= booking.status%></p>
  <% if booking.status == "pending" %>
  <form action="booking/<%= booking.id %>" method="post">
  <input type="hidden" name="decision" value="approved">
  <input type="submit" value="Approve">
  </form>
  <form action="booking/<%= booking.id %>" method="post">
   <input type="hidden" name="decision" value="declined">
  <input type="submit" value="Decline">
  </form>
  <% end %>
  </form>
  <%end%>
<% else %>
You have no booking requests.
<%end%>
<br><br><button class="back_button" type="button"><a href="/" style="text-decoration:none;color:black;">Back to Main</a></button>
</div>
</div>
</body>
</html>