<% if @bookings %>
  <% @bookings.each do |booking| %>
  <h1><%= Listing.find(id: booking.listing_id).name %></h1>
  <p>Requested by: <%= booking.guest_email %></p>
  <p>Dates: <%= booking.dates_from %>-<%= booking.dates_to %></p>
  <p>Booking Status: <%= booking.status%></p>
  <% if booking.status != "approved" %>
  <form action="booking/<%= booking.id %>" method="post">
  <input type="submit" value="Approve">
  <% end %>
  </form>
  <%end%>
<% else %>
You have no bookings.
<%end%>