<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MakersBnB - Make our house your home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>

<div class="banner">

    <nav class="navbar navbar-dark bg-transparent">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fab fa-airbnb"></i> MakersBnB</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if !@user %>
           <li><a href="/register">Sign up</a></li>
           <li><a href="/login">Login</a></li>
           <li><a href="/list_new_room">List a space</a></li>
        <% else %>
          <li>
            <form action="/sessions" method="post">
              <input type="hidden" name="_method" value="Delete">
              <a><input class="sign_out" type="submit" value="Sign Out" style="background-color: transparent; margin-top: 7px;"></a>
            </form>
          </li>
          <li><a href="/my_bookings" method="get" type="submit" value="My bookings">My Bookings</a></li>
        <% end %>
      </ul>
      <form class="navbar-form navbar-left">
      </form>
      <ul class="nav navbar-nav navbar-right">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="search_button" type="submit">Search</button>
    </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% flash.keys.each do |type| %>
<div data-alert class="flash <%= type %> alert-box radius">
<%= flash[type] %>
</div>
<% end %>

<h1><span>MakersBnB.</span> Make our house your home.</h1>

</div>

<div class="container">
<div class="row">
<% @listings.each do |listing|%>

  <p>
  <div class="col-md-4">
    <div class="card text-center" style="width: 18rem, height 35rem margin: 10px;">

      <% if listing.image != nil %>
        <img class="card-img-top" src="images/<%= listing.image %>" height=60% width=100%>
      <% else %>
        <img class="card-img-top" src="images/DefaultHome.jpg" height=210px width=90%>
      <% end %>
      <div class="card-body">
        <u><h3 class="card-title"><%= listing.name %></h3></u>
        <p class="card-text">
          <strong>£<%= listing.price %></strong><p>
          <%= listing.description %><p>
          <i> Listing posted on <%= listing.date %></i><p>
          <i>Available from <%= listing.available_from %>
          Available to <%= listing.available_to %></i><p>
          <% if @user %>
            <form action="/click_to_rent/<%= listing.id %>" method="post">
              Date: <input type="date" required name="booking_date">
              <label for="rent_button">
                <input type="submit" name="rent" value="Rent">
              </label>
            </form>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<p>
<% end %>
</div>
</div>
</body>
<footer>MakersBnB 2021. All rights reserved.</footer>
</html>

